.vs/
API.Tests/bin/
API.Tests/obj/
API/bin/
API/obj/
Application.Tests/bin/
Application.Tests/obj/
Application/bin/
Application/obj/
Domain.Tests/bin/
Domain.Tests/obj/
Domain/bin/
Domain/obj/
Infrastructure.Tests/bin/
Infrastructure.Tests/obj/
Infrastructure/bin/
Infrastructure/obj/
Persistance.Tests/bin/
Persistance.Tests/obj/
Persistance/bin/
Persistance/obj/
Persistence.Tests/bin/
Persistence.Tests/obj/
Persistence/bin/
Persistence/obj/
Tests/API.Tests/bin/
Tests/Application.Tests/bin/
Tests/Domain.Tests/bin/
Tests/Infrastructure.Tests/bin/
Tests/Infrastructure.Tests/obj/
Tests/Persistence.Tests/bin/
Tests/Persistence.Tests/obj/
Tests/Domain.Tests/obj/
Tests/Application.Tests/obj/
Tests/API.Tests/obj/
/API/appsettings.Development.json
